.posts-list-wrapper {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
}

h2 {
  border-bottom: 1px solid #e73b7f;
  text-align: center;
  padding-bottom: 1em;
}

h3 {
  text-align: right;
}

.post-content {
  width:70%;
}

.post-author {
  float: right;
  margin-left: 3em;
  font-weight: bold;
}