header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #233;
  color: white;
  font-weight: bold;
  font-size: 1.3em;

  a {
    transition: 0.5s all;

    &:hover {
      text-shadow: 1px 1px 3px whitesmoke;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
    }
  }

  .logo-container>* {
    margin-right: 10px;
  }

  nav>*,
  .logo-container>* {
    margin-right: 10px;
  }
}