<!--
  Tasks:
    1: Show the posts by completing the *ngFor. You can find the name
       of the array you need in the app.component.ts file.

    2: Add the boxShadow directive to the aw-post component.

    3: Complete the tasks in box-shadow.directive.ts


  Note:
    It's good practice to prefix your custom components with something
    so that there are no collisions. In this case we use aw - short for
    Accedia Workshops
-->

<aw-header></aw-header>

<div class="wrapper">

  <h3>Posts</h3>

  <div class="posts-container">
    <!-- <aw-post *ngFor="let post of ..." [post]="post"></aw-post> -->
  </div>
</div>
