<div class="add-posts-wrapper">
  <div class="content">
    <label>Post Content</label>
    <input placeholder="Some content">
  </div>

  <div>
    <label>Post Author</label>
    <input placeholder="Jane Doe">
  </div>

  <button (click)="onAddPost()">Add Post</button>
</div>

<div class="posts-list-wrapper">
  <h2>Awesome posts</h2>
  <ul>
    <li *ngFor="let post of posts">
      <span class="post-content"> {{ post.content }} </span> 
      <span class="post-author"> by {{ post.author }}</span>
    </li>
  </ul>
</div>

<!-- 
<div class="add-posts-wrapper">
  <mat-form-field class="content" appearance="outline">
    <mat-label>Post Content</mat-label>
    <input matInput placeholder="Some content">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Post Author</mat-label>
    <input matInput placeholder="John Smith">
  </mat-form-field>

  <button mat-raised-button (click)="onAddPost()" color="accent">Add Post</button>
</div>

<div class="posts-list-wrapper">
  <h2>Awesome posts</h2>
  <mat-list role="list">
    <mat-list-item *ngFor="let post of posts" role="listitem">
      <span class="post-content"> {{ post.content }} </span> 
      <span class="post-author"> by {{ post.author }}</span>
    </mat-list-item>
  </mat-list>
</div> -->