<div class="wrapper">

  <h3 #title>Posts</h3>
  <div>
    <form class="post-form" [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
      <div class="control">
        <mat-form-field>
          <input matInput placeholder="Title" ype="text" formControlName="title">
        </mat-form-field>
      </div>
      <div class="control">
        <mat-form-field>
          <textarea matInput formControlName="body" placeholder="Body"></textarea>
        </mat-form-field>
      </div>
      <button type="submit" mat-stroked-button color="primary">Add post</button>
    </form>
  </div>
  <router-outlet></router-outlet>
  <div class="posts-container">
    <div *ngIf="isLoading" class="loader">Loading...</div>
    <aw-post [awBorder] *ngFor="let post of posts" [post]="post"></aw-post>
  </div>
</div>